.addReservation {
    float: left;
    position: relative;
}
.reservationTable {
    width: 1250px;
    position: relative;
    float: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.roomNro {
    width: 60px;
}
.date {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}
.emptyRow {
    background: grey;
    height: 10px;
}
.nextWeek {
    border: 0px;
    text-align: right;
}
.previousWeek {
    border: 0px;
}
.reservation1 {
    background: greenyellow;
    position: relative;
    float: left;
}
.reservation2 {
    background: yellow;
    position: relative;
    float: left;
}
.today {
    position: absolute;
    background-color: #000000;
    width: 1px;
    height: 100%;
    top: 42px;
    z-index: 1
}
