body {
    -webkit-print-color-adjust:exact;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.addReservation {
    float: left;
    position: relative;
    padding: 10px;
}
.addRoom {
    float: left;
    position: relative;
    padding: 10px;
}
.print {
    float: left;
    position: relative;
    padding: 10px;
}
.notes {
    float: left;
    position: relative;
    padding: 10px;
}
.reservationTable {
    width: 1250px;
    position: relative;
}
.roomNro {
    width: 60px;
}
.date {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}
.emptyRow {
    background: grey;
    height: 10px;
}
.nextWeek {
    border: 0px;
    text-align: right;
}
.previousWeek {
    border: 0px;
}
.bg1 {
    background: greenyellow;
}
.bg2 {
    background: yellow;
}
.reservation {
    position: relative;
    float: left;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 3px;
}
.today {
    position: absolute;
    background-color: #000000;
    width: 1px;
    top: 42px;
    bottom: 0px;
    z-index: 1;
}
@media print {
    @page {
        size: landscape;
    }
    .non-printable { 
        display: none !important; 
    }
    .bg1 {
        background-color: darkgray;
    }
    .bg2 {
        background-color: lightgray;
    }
}
